{% extends "board_base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Jelszó visszaállítása" %}{% endblock sub_title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block content %}
<div class="row">
  <div class="mx-auto col-md-6 col-md-offset-3 vertical-offset-100">
    <div class="card">
      <div class="card-header"><h3 class="m-0 card-title h5"><strong>{% trans "Jelszó visszaállítása" %}</strong></h3></div>
      <div class="card-body">
        <p>{% trans "Elküldtük az emailedre az instrukciókat a jelszó visszaállításhoz, ha létezik ilyen fiók a megadott email cimmel akkor hamarosan kapsz üzenetet." %}</p>
        <p>{% trans "Ha nem kaptál emailt, ellenőrizzd le hogy a megfelelő email cimet irtad be. Nézd meg a spam mappát is lehet ott található." %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
