{% extends 'board_base.html' %}
{% load i18n %}
{% load forum_conversation_tags %}

{% block sub_title %}{% trans "Hozzászólás elutasitása" %}{% endblock sub_title %}

{% block content %}
<div class="row">
  <div class="col-12">
  <div class="card topic-lock">
  <div class=card-header>
    <h3 class="m-0 card-title h5">{% trans "Hozzászólás elutasitása" %}</h3>
  </div>
  <div class="card-body">
    <div class="mb-3 warning-message">{% trans "Biztos vagy benne hogy elutasitod a hozzászólást? Hozzászólás törölve lesz." %}</div>
    <form action="" method="post">{% csrf_token %}
      <input type="hidden" name="post" value="yes" />
      <button role="submit" class="btn btn-warning">{% trans "Igen" %}</button>
      <a href="{% url 'forum_moderation:queued_post' post.pk %}" class="btn btn-secondary">{% trans "Mégse" %}</a>
    </form>
  </div>
  </div>
  </div>
</div>
{% endblock content %}
